<!DOCTYPE html>{% extends "layout/base.html" %} {% block title %} คลินิก | รายรับรายจ่ายทั้งหมด {% endblock %} {% block content %}
{% load humanize %}{% load crispy_forms_tags %}
<div class="col-lg-12">
    <h2>รายรับรายจ่ายทั้งหมด</h2>
    <div class="row">
        <div class="col-lg-9">
            <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="btn btn-success">เพิ่มข้อมูลรายรับรายจ่าย</button>
        </div>
        <div class="col-lg-3">
            <form class="d-flex" role="search" action="{% url 'ReceiveAndPaymentTransaction:receive-search' %}">
                <input class="form-control me-2" type="search" placeholder="ระบุชื่อ" aria-label="Search" name="q" />
                <button class="btn btn-success" type="submit">ค้นหา</button>
            </form>
        </div>
    </div>

    <div id="id01" class="modal1">
        <form class="modal-content1 animate" action="{% url 'ReceiveAndPaymentTransaction:receive-add' %}" method="post">
            <div class="container">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel4">เพิ่มข้อมูลรายรับรายจ่าย</h1>
                    <button onclick="document.getElementById('id01').style.display='none'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb-4 mt-4">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form.name|as_crispy_field }}
                            </div><br>
                            <div class="form-group">
                                {{ form.type|as_crispy_field }}
                            </div><br>
                            <div class="form-group">
                                {{ form.amount|as_crispy_field }}
                            </div><br>
                            <div class="form-group">
                                {{ form.remark|as_crispy_field }}
                            </div><br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col">
                        <div class="col float-end">
                            <button type="submit" class="btn btn-success">บันทึก</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        var modal = document.getElementById('id01');
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <table class="table table-borderless table-hover" style="text-align: center">
        <thead>
            <tr>
                <th scope="col ">#</th>
                <th scope="col ">วัน/เดือน/ปี</th>
                <th scope="col ">ชื่อรายการ</th>
                <th scope="col ">ประเภทรายการ</th>
                <th scope="col ">จำนวนเงิน</th>
                <th scope="col ">หมายเหตุ</th>
                <th scope="col ">แก้ไขล่าสุด</th>
                <th scope="col ">ตัวเลือก</th>
            </tr>
        </thead>

        <br> {% for d in page_obj %}
        <tbody>
            <tr>
                <td data-label="#">{{ forloop.counter0|add:page_obj.start_index }}</td>
                <td data-label="วัน/เดือน/ปี">{{ d.createdAt }}</td>
                <td data-label="ชื่อรายการ">{{ d.name }}</td>
                <td data-label="ประเภทรายการ">{{ d.type }}</td>
                <td data-label="จำนวนเงิน">{{ d.amount|intcomma }}</td>
                <td data-label="หมายเหตุ">
                    {% if d.remark == None or d.remark == "None" %}-{% else %}{{ d.remark }}{% endif %}
                </td>
                <td data-label="แก้ไขล่าสุด">{{ d.updatedAt }}</td>
                <td data-label="ตัวเลือก">
                    <i class="fa-solid fa-pen-to-square fa-1x mx-1" onclick="document.getElementById('edit{{d.id}}').style.display='block'" style="color:black; cursor:pointer;"></i>
                    <div id="edit{{d.id}}" class="modal1">
                        <form class="modal-content1 animate" action="{% url 'ReceiveAndPaymentTransaction:receive-update' d.id %}" method="post">
                            <div class="container">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="editModalLabel4">แก้ไขข้อมูลรายรับรายจ่าย</h1>
                                    <button onclick="document.getElementById('edit{{d.id}}').style.display='none'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body mb-4 mt-4">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="float-start" for="name">ชื่อรายการ</label>
                                                <input name="name" type="text" value="{{ d.name }}" class="form-control" required>
                                            </div><br>
                                            <div class="form-group">
                                                <label class="float-start" for="type">ประเภทรายการ</label>
                                                <!-- <input name="type" type="text" value="{{ d.type }}" class="form-control" required> -->
                                                <select name="type" id="type" class="form-control">
                                                    <option value="{{ d.type }}" selected="selected">{{ d.type }}</option>
                                                    <option value="รายรับ">รายรับ</option>
                                                    <option value="รายจ่าย">รายจ่าย</option>
                                                  </select>
                                            </div><br>
                                            <div class="form-group">
                                                <label class="float-start" for="amount">จำนวนเงิน</label>
                                                <input name="amount" type="text" value="{{ d.amount }}" class="form-control" required>
                                            </div><br>
                                            <div class="form-group">
                                                <label class="float-start" for="remark">หมายเหตุ</label>
                                                <input name="remark" type="text" value="{{ d.remark }}" class="form-control" required>
                                            </div><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="col">
                                        <div class="col float-end">
                                            <button type="submit" class="btn btn-success">บันทึก</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <a href="{% url 'ReceiveAndPaymentTransaction:receive-update' d.id %} "><i class="fa-solid fa-pen-to-square fa-1x mx-1" style="color:black"></i></a> -->
                    <i class="fa-solid fa-trash fa-1x mx-1 " data-bs-toggle="modal" data-bs-target="#exampleModal{{d.id}}" style="color:black; cursor:pointer; "></i>
                    <div class="modal fade" id="exampleModal{{d.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">ยืนยันการลบข้อมูลรายรับรายจ่าย</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body mb-4 mt-4">
                                    ท่านต้องการลบรายการ <b>"{{ d.title }}{{ d.name }}"</b> ใช่หรือไม่ 
                                </div>
                                <div class="modal-footer">
                                    <div class="col">
                                        <a href="{% url 'ReceiveAndPaymentTransaction:receive-delete' d.id %} ">
                                            <button type="button" class="btn btn-danger">ยืนยัน</button>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">ยกเลิก</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    <script>
        var modal = document.getElementById('edit');
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <div class="row">
        <div class="col">
            {% if page_obj.has_other_pages %}
            <div class="btn-group" role="group" aria-label="Item pagination">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">&laquo;&nbsp;&nbsp;ก่อนหน้า</a> {% endif %} {% for page_number in page_obj.paginator.page_range %} {% if page_obj.number == page_number %}
                <button class="btn btn-outline-primary active">
                        <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                    </button> {% else %}
                <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                            {{ page_number }}
                        </a> {% endif %} {% endfor %} {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">ต่อไป&nbsp;&nbsp;&raquo;</a> {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <div class="col float-end mx-4 mb-5">
                <div class="row">รายรับรวม {{ totalReceive|intcomma }} บาท</div>
                <div class="row">รายจ่ายรวม {{ payment|intcomma }} บาท</div>
                <div class="row">รายได้มากกว่ารายจ่าย {{ remaining|intcomma }} บาท</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}