<!DOCTYPE html>{% extends "layout/base.html" %}{% block title %} คลินิก | ผู้ป่วยที่เข้าพบแพทย์ {% endblock %}{% load crispy_forms_tags %}{% block content %}
<div class="col-lg-12 mx-1">
    <h2>ข้อมูลผู้ป่วย (ปัจจุบัน)</h2>
    {% if object == 0 or queueStatus == 0 %}
    <div class="d-flex align-items-center justify-content-center mt-5">
        <h5>ห้องตรวจแพทย์ว่างแล้ว ณ ขณะนี้</h5>
    </div>
    {% else %}
    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="row mt-2">
                <div class="col-lg-4"><b>เลขประจำตัวผู้ป่วย</b></div>
                <div class="col-lg-8">{{ data.hn }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4"><b>ชื่อและนามสกุล</b></div>
                <div class="col-lg-8">{{ data.title }}{{ data.name }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4"><b>อายุ</b></div>
                <div class="col-lg-8">{{ data.age }} &nbsp;&nbsp;&nbsp; ปี</div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4"><b>เลขบัตรประจำตัวประชาชน</b></div>
                <div class="col-lg-8">{{ data.idCard }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4"><b>เพศ</b></div>
                <div class="col-lg-8">{{ data.gender }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4"><b>โรคประจำตัว</b></div>
                <div class="col-lg-8">
                    {% if data.underlyingDisease == None %}ไม่มีโรคประจำตัว{% else %} {{ data.underlyingDisease }} {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row mt-2">
                <div class="col-lg-4"><b>หมู่เลือด</b></div>
                <div class="col-lg-8">{{ data.bloodType }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4"><b>เกิดเมื่อ</b></div>
                <div class="col-lg-8">{{ x }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4"><b>เบอร์โทรศัพท์มือถือ</b></div>
                <div class="col-lg-8">{{ data.phone }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4"><b>รูปภาพ</b></div>
                <div class="col-lg-8">
                    {% if data.img %}
                    <img src="{{ data.img.url }}" class="rounded" alt="" style="width:150px;">
                    {% else %} ไม่มีรูปภาพ {% endif %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4"><b>ที่อยู่</b></div>
                <div class="col-lg-8">{{ data.address }}</div>
            </div>
        </div>
        <div class="col-lg-2">
            <b>ดูประวัติการรักษาครั้งล่าสุด</b>
            <a type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#history">
                <i class="fa-solid fa-eye text-white"></i>&nbsp; ประวัติการรักษา
            </a>
            <div class="modal fade" id="history" tabindex="-1" aria-labelledby="historyModalLabels" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="historyModalLabels">ประวัติการรักษาครั้งล่าสุด</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hover table-borderless" style="text-align: center;">
                                <h6 class="my-2">ประวัติการรักษาของ <b>{{data.title}} {{data.name}}</b></h6>
                            </table>
                            <div class="row mt-5 justify-content-center fw-bold">การรักษา</div>
                            <div class="row mt-3">
                                <div class="col-lg-3"><b>ผลการวินิจฉัย</b></div>
                                <div class="col">{{ latest_treatment.initialSymptoms }}</div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-3"><b>แพทย์</b></div>
                                <div class="col">{{ latest_treatment.doctorName }}</div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-3"><b>เมื่อวันที่</b></div>
                                <div class="col">{{ latest_treatment.createdAt }}</div>
                            </div>
                            <div class="row mt-5 justify-content-center fw-bold">ยาและนัดหมาย</div>
                            <div class="row mt-3">
                                <div class="col-lg-4"><b>รายการยาในใบสั่งยา</b></div>
                                <div class="row mt-2 mx-3">
                                    {% if not latest_prescript == 'ไม่มีรายการยา' %}
                                    <table class="table table-hover table-borderless" style="text-align: left;">
                                        <thead>
                                            <tr>
                                                <th scope="col">ชื่อยา</th>
                                                <th scope="col">จำนวน</th>
                                                <th scope="col">หน่วย</th>
                                            </tr>
                                        </thead>
                                        
                                        {% for latest_prescript in latest_prescript %}
                                        <tbody>
                                            <tr>
                                                <td class="col-lg-5" data-label="ชื่อยา">{{ latest_prescript.medicine }}</td>
                                                <td class="col-lg-2" data-label="จำนวน">{{ latest_prescript.medicineAmount }}</td>
                                                <td data-label="หน่วย">{{ latest_prescript.medicineUnit }}</td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                    {% else %}
                                        <b>ไม่มีรายการยา</b>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-3"><b>การนัดหมาย</b></div>
                                <div class="row mt-2 mx-3">
                                    {% if not latest_appointment1 == 'ไม่มีการนัดหมาย' %}
                                    <table class="table table-hover table-borderless" style="text-align: left;">
                                        <thead>
                                            <tr>
                                                <th scope="col">ชื่อนัดหมาย</th>
                                                <th scope="col">คำอธิบาย</th>
                                            </tr>
                                        </thead>
                                        {% for latest_appointment1 in latest_appointment1 %}
                                        <tbody>
                                            <tr>
                                                <td class="col-lg-2" data-label="ชื่อนัดหมาย">{{ latest_appointment1.name }}</td>
                                                <td data-label="คำอธิบาย">{{ latest_appointment1.description }}</td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                    {% else %}
                                        <b>ไม่มีการนัดหมาย</b>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col">
                                <button type="button" class="btn btn-danger float-end" data-bs-dismiss="modal">ปิด</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-lg-6">
            <h4>ข้อมูลอาการเบื้องต้นของผู้ป่วย (ปัจจุบัน)</h4>
            {% if initialObj == 1 %}
            <div class="row">
                <div class="col-lg-4"><b>อาการเบื้องต้น</b></div>
                <div class="col-lg-8"><b>{{ initial }}</b></div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-lg-4"><b>อาการเบื้องต้น</b></div>
                <div class="col-lg-8">
                    {{ initial.initialSymptoms }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4"><b>อุณหภูมิ</b></div>
                <div class="col-lg-8">
                    {% if initial.temp == None %}ไม่ได้ระบุอุณหภูมิ{% else %}{{ initial.temp }} &nbsp;&nbsp; องศาเซลเซียส{% endif %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4"><b>ความดันโลหิต</b></div>
                <div class="col-lg-8">
                    {% if initial.pressure == None %}ไม่ได้ระบุความดันโลหิต{% else %}{{ initial.pressure }}{% endif %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4"><b>อัตราการเต้นของหัวใจ/ชีพจร</b></div>
                <div class="col-lg-8">
                    {% if initial.pulse == None %}ไม่ได้ระบุอัตราการเต้นของหัวใจ/ชีพจร{% else %}{{ initial.pulse }} &nbsp;&nbsp; ต่อนาที{% endif %}
                </div>
            </div>
            {% endif %}
            {% if allergic %}
            <div class="row mt-3">
                <div class="col-lg-4"><b>ประวัติการแพ้ยา</b></div>
                <div class="col-lg-8">
                    <table class="table table-hover table-borderless" style="text-align: left;">
                        <thead>
                            <tr>
                                <th scope="col ">ชื่อยา</th>
                                <th scope="col ">อาการ</th>
                            </tr>
                        </thead>
                        {% for a in allergic %}
                        <tbody>
                            <tr>
                                <td data-label="ชื่อยา">{{ a.allergicMedicineName }}</td>
                                <td data-label="อาการ">{{ a.allergicSymptom }}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% else %}
            <div class="row mt-3">
                <div class="col-lg-4"><b>ประวัติการแพ้ยา</b></div>
                <div class="col-lg-8">ไม่มีประวัติการแพ้ยา</div>
            </div>
            {% endif %}
            {% if prescript %}
            <div class="row mt-3 mb-5">
                <div class="col-lg-4"><b>ใบจ่ายยา</b></div>
                <div class="col-lg-8">
                    <table class="table table-hover" style="text-align: left;">
                        <thead>
                            <tr>
                                <th scope="col ">ชื่อยา</th>
                                <th scope="col ">จำนวน</th>
                                <th scope="col ">หน่วย</th>
                                {% if user.is_doctor == True or user.is_superuser == True or user.is_staff == True %}
                                <th scope="col " style="text-align: center;">ตัวเลือก</th>
                                {% endif %}
                            </tr>
                        </thead>
                        {% for a in prescript %}
                        <tbody>
                            <tr>
                                <td data-label="ชื่อยา">{{ a.medicine }}</td>
                                <td data-label="จำนวน">{{ a.medicineAmount }}</td>
                                <td data-label="หน่วย">{{ a.medicineUnit }}</td>
                                {% if user.is_doctor == True or user.is_superuser == True or user.is_staff == True %}
                                <td data-label="ตัวเลือก">
                                    <div class="row mt-0">
                                        <div class="col">
                                            <i class="fa-solid fa-pen-to-square fa-1x mx-1" onclick="document.getElementById('edit{{a.id}}').style.display='block'" style="color:black; cursor:pointer;"></i>
                                            <div id="edit{{a.id}}" class="modal1">
                                                <form class="modal-content1 animate" action="{% url 'Prescription:update-prescription' a.id %}" method="post">
                                                    <div class="container">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="editModalLabel4">แก้ไขรายการยา</h1>
                                                            <button onclick="document.getElementById('edit{{a.id}}').style.display='none'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body mb-4 mt-4">
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <input type="hidden" name="treatment" value="{{ present.id }}">
                                                                    <label for="medicine">เลือกยา</label>
                                                                    <div class="mb-3">
                                                                        <select name="medicine" class="form-select" id="basic-usage" data-placeholder="ระบุชื่อยา..">
                                                                            <option value="{{a.medicine_id}}">{{ a.medicine }}</option>
                                                                            {% for med in medicine %}
                                                                                <option value="{{med.id}}">{{ med.name }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                    
                                                                    <div class="row mt-3 mb-5">
                                                                        <div class="col-lg-7">
                                                                            <label for="medicineAmount" required>จำนวน</label>
                                                                            <input type="text" name="medicineAmount" placeholder="กรอกจำนวนยา.." class="form-control" value="{{a.medicineAmount}}">
                                                                        </div>
                                                                        <div class="col">
                                                                            <label for="medicineAmount" required>หน่วยยา</label>
                                                                            <select name="medicineUnit" class="form-select" id="med-unit" data-placeholder="ระบุหน่วยยา..">
                                                                                <option value="{{a.medicineUnit_id}}">{{ a.medicineUnit }}</option>
                                                                                {% for med in medicineUnit %}
                                                                                    <option value="{{med.id}}">{{ med.name }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="col">
                                                                <div class="col float-end">
                                                                    <button type="submit" class="btn btn-success">บันทึก</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <i class="fa-solid fa-trash fa-1x mx-1 " data-bs-toggle="modal" data-bs-target="#exampleModal{{a.id}}"></i>
                                            <div class="modal fade" id="exampleModal{{a.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">ยืนยันการลบรายการยา</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body mb-4 mt-4">
                                                            ท่านต้องการลบรายการ <b>"{{ a.medicine }}"</b> ใช่หรือไม่ 
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="col">
                                                                <a href="{% url 'Prescription:delete-prescription' a.id %} ">
                                                                    <button type="button" class="btn btn-danger">ยืนยัน</button>
                                                                </a>
                                                            </div>
                                                            <div class="col">
                                                                <button type="button" class="btn btn-success float-end" data-bs-dismiss="modal">ยกเลิก</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>

                    <a type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModals{{data.id}}{{treatment.id}}">
                        <i class="fa-solid fa-eye text-white"></i>&nbsp; ใบสั่งยา
                    </a>
                    <div class="row"></div>
                    
                    <div class="modal fade" id="exampleModals{{data.id}}{{treatment.id}}" tabindex="-1" aria-labelledby="exampleModalLabels" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabels">รายการยาในใบสั่งยา</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-hover table-borderless" style="text-align: center;">
                                        <h6 class="my-2">ใบสั่งยาของ <b>{{data.title}} {{data.name}}</b></h6>
                                        <h6 class="mb-4">ทำรายการเมื่อวันที่ <b>{{d}}</b></h6>
                                        <thead>
                                            <tr>
                                                <th scope="col ">ชื่อยา</th>
                                                <th scope="col ">จำนวน</th>
                                                <th scope="col ">หน่วย</th>
                                            </tr>
                                        </thead>
                                        {% for p in prescript %}
                                        <tbody>
                                            <tr>
                                                <td data-label="ชื่อยา">{{ p.medicine }}</td>
                                                <td data-label="จำนวน">{{ p.medicineAmount }}</td>
                                                <td data-label="หน่วย">{{ p.medicineUnit }}</td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <div class="col">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                                    </div>
                                    <div class="col">
                                        <a href="{% url 'Patient:export-patient-prescriptions-present' treatment.id %} " class="btn btn-success float-end" id="print"><i class="fa-solid fa-print text-white"></i>&nbsp; พิมพ์ใบสั่งยา</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row mt-3">
                <div class="col-lg-4"><b>ใบจ่ายยา</b></div>
                <div class="col-lg-8">
                    <button type="submit" class="btn btn-success" disabled>
                        <i class="fa-solid fa-eye text-white"></i>&nbsp; ใบสั่งยา
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h4>ข้อมูลการวินิจฉัยของแพทย์</h4>
            <div class="row mt-3">
                <div class="col-lg-3"><b>เพิ่มประวัติการแพ้ยา</b></div>
                <div class="col-lg-9">
                    <button onclick="document.getElementById('id01{{data.id}}').style.display='block'" style="width:auto;" class="btn btn-outline-success">เพิ่มข้อมูลการแพ้ยา</button>
                </div>
                <div id="id01{{data.id}}" class="modal1">
                    <form class="modal-content1 animate" action="{% url 'Patient:add-patient-allergic-history' data.id %}" method="post">
                        <div class="container">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel4">เพิ่มข้อมูลการแพ้ยา</h1>
                                <button onclick="document.getElementById('id01{{data.id}}').style.display='none'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body mb-4 mt-4">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label for="medicine">ชื่อยา*</label>
                                        <input type="text" name="allergicMedicineName" class="form-control mb-3" required>

                                        <label for="medicine">อาการแพ้ยา*</label>
                                        <input type="text" name="allergicSymptom" class="form-control" required>
                                        
                                        <!-- {{ form.allergicMedicineName|as_crispy_field }}
                                        <br>
                                        {{ form.allergicSymptom|as_crispy_field }} -->
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="col">
                                    <div class="col float-end">
                                        <button type="submit" class="btn btn-success" style="margin-top:50px">บันทึก</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            
                <script>
                    var modal = document.getElementById('id01');
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
            </div> 
            <div class="row mt-3">
                <div class="col-lg-3"><b>ผลการวินิจฉัย</b></div>
                <div class="col-lg-9">
                    <div class="row mt-0 mb-3">
                        {% if treatment.initialSymptoms == None %}
                            <b>ผู้ป่วยยังไม่ได้รับการวินิจฉัย</b>
                        {% else %}
                            <b>{{ treatment.initialSymptoms }}</b>
                        {% endif %}
                    </div>
                    {% if user.is_doctor == True or user.is_superuser == True or user.is_staff == True %}
                    <form action="{% url 'Patient:add-treatment-history' data.id %}" method="post">
                        {% csrf_token %}
                        <div class="row mt-0">
                            <div class="col-lg-9">
                                <input type="hidden" name="initialId" id="initialId" disable value="{{initial.id}}">
                                <textarea name="initialSymptoms" type="text" id="initialSymptoms" class="form-control" placeholder="ระบุผลการวินิจฉัย" required></textarea>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-success">บันทึก</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-3">
                {% if user.is_doctor == True or user.is_superuser == True or user.is_staff == True %}
                <div class="col-lg-3"><b>ใบสั่งยา</b></div>
                <div class="col-lg-9">
                    <button onclick="document.getElementById('id03{{data.id}}').style.display='block'" style="width:auto;" class="btn btn-outline-success">เพิ่มใบสั่งยา</button>  
                </div>
                {% else %}
                {% endif %}
                <div id="id03{{data.id}}" class="modal1">
                    <form class="modal-content1 animate" action="{% url 'Prescription:add-prescription' data.id %}" method="post">
                        <div class="container">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel02">เพิ่มใบสั่งยา</h1>
                                <button onclick="document.getElementById('id03{{data.id}}').style.display='none'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body mb-4 mt-4">
                                <div class="row">
                                    <h6>ใบสั่งยาของ <b>{{data.title}} {{data.name}}</b></h6>
                                    <h6>ทำรายการเมื่อวันที่ <b>{{d}}</b></h6>
                                    <br><br>
                                    <div class="col-lg-12">
                                        {% csrf_token %}
                                        <input type="hidden" name="treatment" value="{{ present.id }}">
                                        <label for="medicine">เลือกยา*</label>
                                        <div class="mb-3">
                                            <select name="medicine" class="form-select" id="multiple-select-field" data-placeholder="ระบุชื่อยา.." required>
                                                <!-- <option></option> -->
                                                {% for med in medicine %}
                                                    <option value="{{med.id}}">{{ med.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        
                                        <div class="row mt-3 mb-5">
                                            <div class="col-lg-7">
                                                <label for="medicineAmount">จำนวน*</label>
                                                <input type="text" name="medicineAmount" placeholder="กรอกจำนวนยา.." class="form-control" required>
                                            </div>
                                            <div class="col">
                                                {{ pres.medicineUnit|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="modal-footer">
                                <div class="col">
                                    <div class="col float-end">
                                        <button type="submit" class="btn btn-success" style="margin-top:50px">บันทึก</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <script>
                    var modal = document.getElementById('id03');
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
            </div>
            <div class="row mt-3">
                {% if user.is_doctor == True or user.is_superuser == True or user.is_staff == True %}
                <div class="col-lg-3"><b>นัดหมาย</b></div>
                <div class="col-lg-9">
                    <button onclick="document.getElementById('id02{{data.id}}').style.display='block'" style="width:auto;" class="btn btn-outline-success">เพิ่มบัตรนัด</button>
                </div>
                {% else %}
                {% endif %}
                <div id="id02{{data.id}}" class="modal1">
                    <form class="modal-content1 animate" action="{% url 'Appointment:event_new' data.id %}" method="post">
                        <div class="container">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel01">เพิ่มบัตรนัด</h1>
                                <button onclick="document.getElementById('id02{{data.id}}').style.display='none'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body mb-4 mt-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        {% csrf_token %}
                                        <input type="hidden" name="treatment" id="treatment" value="{{ present.id }}">
                                        {{ appointmentForm.name|as_crispy_field }}<br>
                                        {{ appointmentForm.description|as_crispy_field }}<br>
                                        {{ appointmentForm.date|as_crispy_field }}<br>
                                    </div>
                                </div>
                            </div> 
                            <div class="modal-footer">
                                <div class="col">
                                    <div class="col float-end">
                                        <button type="submit" class="btn btn-success">บันทึก</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            
                <script>
                    var modal = document.getElementById('id02');
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
            </div>
            <div class="row mt-5 justify-content-end">
                <div class="col-lg-4 my-3">
                    {% if user.is_doctor == True or user.is_superuser == True or user.is_staff == True %}
                    <button class="btn btn-success float-lg-end px-3 mx-4" data-bs-toggle="modal" data-bs-target="#sent{{data.id}}">
                        ส่งข้อมูล &nbsp; <i class="fa-solid fa-chevron-right text-white"></i>
                    </button>
                    <div class="modal fade" id="sent{{data.id}}" tabindex="-1" aria-labelledby="exampleModalSent" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalSent">ยืนยันการจบการรักษา</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body mb-4 mt-4">
                                    ท่านต้องการจบการรักษาผู้ป่วย <b>"{{data.title}}{{ data.name }}"</b> ใช่หรือไม่ 
                                </div>
                                <div class="modal-footer">
                                    <div class="col">
                                        <form action="{% url 'Patient:successful-treatment' data.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="treatment1" id="treatment1" disable value="{{ present.id }}">
                                            <button type="submit" class="btn btn-success">ยืนยัน</button>
                                        </form>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-danger float-end" data-bs-dismiss="modal">ยกเลิก</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}