<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export PDF file</title>
    <style>
        @font-face {
            font-family: x;
            font-size: 14px;
            src: url('{% static "font/THSarabunNew.ttf" %}')
        }

        * {
            font-family: x;
        }
</style>
</head>
<body>
    <p>Č š ž Ž x y ľ ĺ ó</p>
    <h2>This is a Sample HTML Content which is converted into a PDF file ครีม</h2><br>
    <h1>{{patient}}</h1>
    <hr>
</body>
</html>